.item {
    width: 100%;
    padding: 10px;
    background: #855afd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item i {
    cursor: pointer;
}